@namespace WAAuth.Client.Components
@*@using vkaudioposter_Console.API*@

<h3>ActionsComponent</h3>

<MudButton OnClick="@OnClickStartEvent">Start</MudButton>

@code {
    private async Task OnClickStartEvent()
    {
        //await StartProgram.Start();
    }
}
